{% extends 'SOCSocBundle:Default:index.html.twig' %}

{% block body %}

    {{ include ('SOCSocBundle:Player:navigation.html.twig') }}

    <br>

    <div class="row">

        <div class="large-3 columns">
            <h6 class="panel">Description</h6>
        </div>

        <div class="large-9 columns">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Verein</th>
                    <th>Position</th>
                    {% set queryArray = queryArray|merge({'order':'vkPreis'}) %}
                    <th><a href="{{ path('player', queryArray) }}">Wert</a></th>
                    {% set queryArray = queryArray|merge({'order':'ekPreis'}) %}
                    <th><a href="{{ path('player', queryArray) }}">Verkaufspreis</a></th>
                    <th>Käufer</th>
                    {% set queryArray = queryArray|merge({'order':'note'}) %}
                    <th><a href="{{ path('player', queryArray) }}">Note</a></th>
                    {% set queryArray = queryArray|merge({'order':'punkte'}) %}
                    <th><a href="{{ path('player', queryArray) }}">Punkte</a></th>
                    {% set dir = (queryArray.dir == 'ASC') ? 'DESC' : 'ASC' %}
                    {% set queryArray = queryArray|merge({'dir':dir}) %}
                    <th><a href="{{ path('player', queryArray) }}"><</a></th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a class="btn btn-default btn-xs"
                               href="{{ path('player_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.verein }}</td>
                        <td>{{ entity.position }}</td>
                        <td>{{ entity.vkPreis|number_format(2, ',', '.') }}</td>
                        <td>{{ entity.ekPreis|number_format(2, ',', '.') }}</td>
                        <td>{{ entity.kaeufer }}</td>
                        <td>{{ entity.note }}</td>
                        <td>{{ entity.punkte }}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('player_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('player_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

    <script>

        var clearFrm;

        $(function () {

            var ddVerein = $("#verein"),
                    ddSpieler = $("#kaeufer"),
                    ddPosition = $("#position"),
                    term = $("#suche"),
                    objForm = $("#frmSearch");


            $("select", objForm).change(function () {
                objForm.submit();
            });

            clearFrm = function () {
                $("select", objForm).prop('selectedIndex', 0);
                term.val('');
                objForm.submit();
            };


            var options = {
                        serviceUrl: '{{ path('player_search') }}',
                        onSelect: function () {
                            objForm.submit();
                            $("select", objForm).prop('selectedIndex', 0);
                        }
                    },
                    a = term.autocomplete(options);

        });

    </script>

{% endblock %}