{% extends 'SOCSocBundle:Default:index.html.twig' %}

{% block body -%}
    <h1>Spieler</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Verein</th>
                <td>{{ entity.verein }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Vkpreis</th>
                <td>{{ entity.vkPreis }}</td>
            </tr>
            <tr>
                <th>Ekpreis</th>
                <td>{{ entity.ekPreis }}</td>
            </tr>
            <tr>
                <th>Kaufer</th>
                <td>{{ entity.kaufer }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Punkte</th>
                <td>{{ entity.punkte }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions list-unstyled">
    <li>
        <a class="btn btn-primary btn-xs" href="{{ path('player') }}">
            Zurück zur Liste
        </a>
    </li>
    <li>
        <a class="btn btn-default btn-xs" href="{{ path('player_edit', { 'id': entity.id }) }}">
            bearbeiten
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
