{% extends 'SOCSocBundle::layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/socsoc/css/lineup.css') }}">

    <style>

        .field {
            height: 800px;
            padding: 3%;
            background-color: #1ab394;
            position: relative;
        }

        .bench {

        }

        .bench ul {
            padding: 0;
        }

        .bench-item {
            float: left;
        }

        .bench-item > .pi {
            background-color: #f9f9f9;
            position: relative;
        }

    </style>

{% endblock %}

{% block body %}

    <div id="wrapper">

    {% include 'SOCSocBundle:Default:navigation-main.html.twig' %}

    <div id="page-wrapper" class="gray-bg">

    {% include 'SOCSocBundle:Default:navigation-minor.html.twig' %}

    {% block content_header %}

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Dashboard</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('soc_dashboard_index') }}">Home</a>
                    </li>
                    <li class="active">
                        <strong>Aufstellung</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

    {% endblock %}

    {% block content_main %}
        <div class="row wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-7">

                <h4>Aufstellung</h4>

                <div class="field">

                {% for player in lineup %}

                <div class="ibox-content text-center pi pi-lineup pi-position-{{ loop.index }} schalke">
                    <h4 class="title">Huntelaar</h4>
                    <div class="m-b-sm">
                        <img alt="image" class="img-circle portrait" src="http://mediadb.kicker.de/2016/fussball/managerspiel/s/28674_2_2015720145211732.jpg">
                    </div>
                    <div class="text-center">
                        <a class="btn btn-xs btn-danger btn-outline"><i class="fa fa-exchange"></i></a>
                    </div>
                </div>

                {% endfor %}
                </div>

            </div>
            <div class="col-lg-5">

                <div class="ibox bench">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                    <h2>Auswechselbank</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">

                                                {% for posName, players in positionen %}

                                                <li class="{{ loop.index == 1 ? 'active' : '' }}"><a href="#tab-{{ loop.index }}" data-toggle="tab">{{ posName }}</a></li>

                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body">

                                        <div class="tab-content">

                                            {% for posName, players in positionen %}

                                            <div class="tab-pane{{ loop.index == 1 ? ' active' : '' }}" id="tab-{{ loop.index }}">

                                                <ul class="unstyled">
                                                    {% for player in players %}

                                                        <li class="bench-item">

                                                            <div class="ibox-content text-center pi {{ player.team.name|lower }}" data-ref="{{ player.id }}">
                                                                <h4 class="title">{{ player.name}}</h4>
                                                                <div class="m-b-sm">
                                                                    <img alt="image" class="img-circle portrait" src="{{ player.thumbUrl}}">
                                                                </div>
                                                                <div class="text-center">
                                                                    <a class="btn btn-xs btn-danger btn-outline">TW</a>
                                                                    <a class="btn btn-xs btn-success btn-outline">AB</a>
                                                                    <a class="btn btn-xs btn-warning btn-outline">MF</a>
                                                                    <a class="btn btn-xs btn-success btn-outline">ST</a>
                                                                </div>
                                                            </div>

                                                        </li>

                                                    {% endfor %}

                                                </ul>
                                            </div>

                                            {% endfor %}

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content_footer %}
        <div class="footer">
            <div class="pull-right">
                Yeah <strong>iii</strong>.
            </div>
            <div>
                <strong>Copyright</strong> S.O.C. &copy; 2014-2015
            </div>
        </div>
    {% endblock %}

    </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@js_dashboard' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        $(function() {

            var lineUp = {{ lineup.data|json_encode }};

        });

    </script>

{% endblock %}