<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">

<pdf>

    <page page-size="a4 landscape" font-type="helvetica">

        <h3 class="username">Lutz</h3>
        <table class="table table-striped table-header-rotated" width="33%">
            {#<tr>#}
                {#<td class="col-header">#</td>#}
                {#<td class="col-header"></td>#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-award.png') }}" /></td> &#123;&#35; Elf des Tages &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-note.png') }}" /></td>  &#123;&#35; Note &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-assist.png') }}" /></td>  &#123;&#35; Assists &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-goal.png') }}" /></td>  &#123;&#35; Tor &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-goal-against.png') }}" /></td>  &#123;&#35; Gegentor &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-cards.png') }}" /></td>  &#123;&#35; Rot/Gelb-Rot &#35;&#125;#}
                {#<td class="col-header"><img src="{{ pdf_image('SymfonyWebConfiguratorBundle:lu-startlineup.png') }}" /></td>  &#123;&#35; Auf dem Platz &#35;&#125;#}
            {#</tr>#}
            <tr class="bg-light">
                <td>1</td>
                <td class="player-name">Neuer</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-light">
                <td>2</td>
                <td class="player-name">Alaba</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-light">
                <td>3</td>
                <td class="player-name">Boateng</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bg-light">
                <td>4</td>
                <td class="player-name">Benatia</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td class="player-name">Calhanoglu</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>6</td>
                <td class="player-name">Draxler</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>7</td>
                <td class="player-name">Vidal</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>8</td>
                <td class="player-name">Bender</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>9</td>
                <td class="player-name">Herrmann</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td class="player-name">Raffael</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>11</td>
                <td class="player-name">Huntelaar</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="tb-footer">
                <td colspan="9">21.08.2015 / 12:51:51</td>
            </tr>
        </table>
    </page>
</pdf>